<p id="notice"><%= notice %></p>

<h1>Listing Educational Details</h1>

<table>
  <thead>
    <tr>
      <th>Collagename</th>
      <th>Coursename</th>
      <th>Location</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @educational_details.each do |educational_detail| %>
      <tr>
        <td><%= educational_detail.collageName %></td>
        <td><%= educational_detail.courseName %></td>
        <td><%= educational_detail.location %></td>
        <td><%= link_to 'Show', educational_detail %></td>
        <td><%= link_to 'Edit', edit_educational_detail_path(educational_detail) %></td>
        <td><%= link_to 'Destroy', educational_detail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Educational detail', new_educational_detail_path %>
