<div class="row">
    <div class="col-md-2">
      <%= render 'profile_info' %>
    </div>

    <div class="col-md-5" id="statuses">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div id="status-maker" class="col-xs-6 col-md-4">
              <%= link_to new_status_path, class: "btn btn-default submitter", remote: true do %>
              <i class="fa fa-align-left"></i>&nbsp;<strong>Update Status</strong>
              <% end %>
            </div>

            <div id="image" class="col-xs-6 col-md-4 ">
              <%= link_to statuses_path, class: "btn btn-default submitter", remote: true do %>
              <i class="fa fa-camera-retro"></i>&nbsp;<strong>Add Image</strong>
              <% end %>
            </div>

            <div id="video">
              <%= link_to post_video_path, class: "btn btn-default submitter", remote: true do %>
              <i class="fa fa-video-camera"></i>&nbsp;<strong>Add Video</strong>
              <% end %>
            </div>
          </div>
          <br>
          <div id="render-form"><%= render 'form' %></div>
          
          <div id="status-form" style="display:none;"></div>
         
        </div>
          
    </div>

      
      <%= render @statuses_all%>
         
    </div>

  <div class="col-md-2">
  
  </div>

  <div class="col-md-3">
       <%= render 'contacts' %>
  </div>
</div>
